.card-profile {
	position: relative;
    text-align: center;
}

.card-profile .card {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}


.card-profile p {
	line-height: 14px;
}

.card-profile:hover {
	cursor: pointer;
}

.card-profile .card-body{
	position:relative; 
}

.card-profile img {
    width: 100px;
}

.card-profile .card-back {
	display: hidden;
}

.card-profile  .card-front,
.card-profile  .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

.card-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card-profile:hover .card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-profile:hover .card-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}